# Blockchain
Blockchain_RPC_URL=https://polygon-mumbai.g.alchemy.com/v2/YOUR_KEY
Contract_Address=0xYOUR_CONTRACT
BLOCKCHAIN_PRIVATE_KEY=0xYOUR_PRIVATE_KEY

# Google Earth Engine
PROJECT_ID=your-gee-project-id

# IPFS
PINATA_JWT=your_pinata_jwt

# App
DATABASE_URL=sqlite:///./data.db